<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Search Engine</string>
			<key>Key</key>
			<string>org.graetzer.search</string>
			<key>DefaultValue</key>
			<string>https://duckduckgo.com/?q=%@&amp;kl=%@&amp;t=foxbrowser</string>
			<key>Titles</key>
			<array>
				<string>DuckDuckGo</string>
				<string>Google</string>
				<string>Bing</string>
			</array>
			<key>Values</key>
			<array>
				<string>https://duckduckgo.com/?q=%@&amp;kl=%@&amp;t=foxbrowser</string>
				<string>http://www.google.com/search?q=%@&amp;hl=%@</string>
				<string>http://www.bing.com/search?q=%@&amp;mkt=%@</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show new tabs</string>
			<key>Key</key>
			<string>org.graetzer.tabs.foreground</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Open startpage</string>
			<key>Key</key>
			<string>org.graetzer.enableStartpage</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Startpage</string>
			<key>Key</key>
			<string>org.graetzer.startpageurl</string>
			<key>DefaultValue</key>
			<string>https://duckduckgo.com/</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Performance statistics</string>
			<key>Key</key>
			<string>org.graetzer.analytics</string>
			<key>DefaultValue</key>
			<false/>
			<key>Titles</key>
			<array>
				<string>Send anonymous statistics</string>
				<string>Disable sending statistics</string>
			</array>
			<key>Values</key>
			<array>
				<false/>
				<string>YES</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<false/>
			<key>Title</key>
			<string>HTTP Authentication</string>
			<key>Key</key>
			<string>org.graetzer.httpauth</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
